.registro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #f0f2f5;
}

.registro-form {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.registro-form h2 {
  margin-bottom: 1.2rem;
  text-align: center;
}

.registro-form input {
  margin-bottom: 1rem;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.registro-form button {
  padding: 0.7rem;
  background: #4f46e5;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

button{
    margin-bottom: 10px;
}